@font-face {
    font-family: Unboad-Regular;
    src: url(/fonts/Unbounded-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Unboad-Bold;
    src: url(/fonts/Unbounded-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Inter;
    src: url(/fonts/Inter_18pt-Regular.ttf);
    font-weight: 400;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p {
    text-align: justify;
}

ul {
    list-style: none;
}

a {
    text-decoration: unset;
    color: var(---, #252525);
}

body {
    font-family: Inter;
    overflow-x: hidden;
}

.hamburger {
    display: none;
}

.container {
    max-width: 1220px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

.header .header_wrapper {
    padding: 0 10px;
    position: fixed;
    top: 10px;
    left: 0;
    right: 0;
}

.header .container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background: var(---, #FFF);
    padding: 20px 40px;
    z-index: 99;
}

.banner {
    border-radius: 0px 0px 50px 50px;
    background: var(---, #252525);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu_list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.socs {
    display: flex;
    gap: 10px;
    align-items: center;
}

.title {
    color: var(---, #EFEFEE);
    font-family: Unboad-Bold;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -1.2px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.container__block {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.blog__date {
    color: var(---, #EFEFEE);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 10px;
}

.blog__category {
    border-radius: 100px;
    border: 1px solid var(---, #EFEFEE);
    padding: 3px 10px;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    color: var(---, #EFEFEE);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}

.container__block-center {
    max-width: 680px;
    width: 100%;
}

.subtitle {
    color: var(---, #EFEFEE);
    font-family: Unboad-Bold;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -1.2px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.subtitle span {
    color: var(---, #CEF78F);
}

.text {
    color: var(---, #EFEFEE);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}

.banner .text {
    max-width: 435px;
    width: 100%;
}

.blog__case3{
    display: none;
}



/* ============================================================== */

.center {
    border-radius: 50px;
    background: var(---, #EFEFEE);
    z-index: 2;
    position: relative;
    margin-top: -85px;
    padding: 70px 0;
}

.blog__wrapper {
    margin-bottom: 100px;
}

.blog__conatiner {
    display: flex;
    justify-content: space-between;
}

.blog__left,
.container__block-left {
    max-width: 350px;
    width: 100%;
}

.blog__center {
    max-width: 680px;
    width: 100%;
}

.blog__left h3 {
    color: var(---, #252525);
    font-family: Unboad-Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.blog__center h3 {
    color: var(---, #252525);
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    font-family: Unboad-Regular;
    letter-spacing: -0.9px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.blog__center h3 span {
    color: var(---, #6C5ADA);
}

.blog__center p {
    max-width: 435px;
    width: 100%;
    color: var(---, #252525);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    margin-bottom: 20px;
}

.blog__center h4 {
    color: var(---, #6C5ADA);
    font-family: Unboad-Regular;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.69px;
    margin-bottom: 10px;
}

.blog__wrapper table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.blog__wrapper th,
.blog__wrapper td {
    border: 1px solid rgba(37, 37, 37, 0.3);
    text-align: left;
    padding: 25px;
}

.blog__wrapper th {
    color: var(---, #6C5ADA);
    font-family: Unboad-Regular;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.69px;
}

.blog__wrapper td:first-child {
    color: var(---, #6C5ADA);
    font-family: Unboad-Regular;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}

.blog__wrapper td {
    color: var(---, #252525);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}

.blog__wrapper-new__title {
    margin-top: 30px;
}

.blog__wrapper-new__title h3 {
    color: var(---, #252525);
    font-family: Unboad-Regular;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: -0.9px;
    text-transform: uppercase;
}

.blog__wrapper-new__title h3 span {
    color: var(---, #6C5ADA);
}

.dot__block {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    border-top: 1px solid #252525;
    padding-top: 20px;
    margin-top: 20px;
}

.dot__block-item {
    display: flex;
    justify-content: space-between;
}

.dot__block-item__right p {
    max-width: 345px;
    width: 100%;
    color: var(---, #252525);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    margin-top: 10px;
}

.dot__block-item__right h4 {
    max-width: 111px;
    min-width: 333px;
    width: 100%;
    color: var(---, #6C5ADA);
    font-family: Unboad-Regular;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}

.dot__block-item__left {
    color: var(---, #6C5ADA);
    font-family: Unboad-Regular;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}


.blog__case1 {
    max-width: 765px;
    width: 100%;
    display: grid;
    grid-template-columns: 293px 192px 292px;
    /* Устанавливаем фиксированные размеры колонок */
    grid-auto-rows: auto;
    /* Автоматическая высота строк */
    margin-left: auto;
    gap: 10px;
    /* Расстояние между блоками */
    margin-bottom: 10px;
}

.blog__case2 {
    max-width: 765px;
    width: 100%;
    display: grid;
    grid-template-columns: 192px 292px 292px;
    /* Устанавливаем фиксированные размеры колонок */
    grid-auto-rows: auto;
    /* Автоматическая высота строк */
    margin-left: auto;
    gap: 10px;
    /* Расстояние между блоками */
}

.blog__case1 li,
.blog__case2 li {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    font-size: 16px;
    color: white;
    height: 165px;
}

/* Индивидуальные стили для блоков */
.item1 {
    background-color: #6C5ADA;
}

.item2 {
    color: black !important;
    background-color: #fff;
}

.item3 {
    background-color: #3A3A3A;
}

.item4 {
    background-color: #ffffff;
    color: black !important;
}

.item5 {
    background-color: #CEF78F;
    color: black !important;
}

.item6 {
    background-color: #6C5ADA;
}



/* ============================================================== */

.footer {
    border-radius: 50px 50px 0px 0px;
    background: var(---, #252525);
    padding: 50px 0px 30px;
    margin-top: -100px;
    z-index: 100;
    position: relative;
}

.footer_top {
    display: flex;
    justify-content: space-between;
}

.footer__row {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer__row-title {
    color: var(---, #FFF);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    margin-bottom: 10px;
}

.footer__row-wrapper ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer__row-wrapper ul li a {
    color: var(---, #EFEFEE);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}

.footer_bottom {
    margin-top: 50px;
    border-top: 1px solid rgba(239, 239, 238, 0.4);
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.footer_bottom .footer__row {
    gap: 0;
    display: block;
}

.footer__row.first {
    max-width: 268px;
    color: var(---, #FFF);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}

.tel {
    color: var(---, #EFEFEE);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    display: flex;
    flex-direction: column;
}

.pol li a {
    color: var(---, #EFEFEE);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}


.mob_menu {
    position: absolute;
    right: 0;
    background: #fff;
    z-index: 10;
    top: 10px;
    padding: 10px;
    border-radius: 10px;
    transform: translateX(1141px);
    transition: .2s all;
}


.blog__case3{
    display: none;
}

/* ====================АДАПТИВ================= */


@media(max-width: 1155px) {
    .header .container {
        padding: 20px;
    }

    .logo {
        width: 83px;
        height: 20px;
    }

    .socs {
        gap: 5px;
    }

    .logo svg,
    .socs a svg {
        width: 100%;
        height: 100%;
    }

    .menu_list {
        gap: 15px;
    }

    .socs a {
        width: 30px;
        height: 30px;
    }

    .container__block-right {
        display: none;
    }

    .title,
    .subtitle {
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: -0.9px;
    }

    .blog__case1,
    .blog__case2{
        max-width: unset;
        justify-content: center;
    }
}

@media(max-width: 992px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .menu,
    .socs {
        display: none;
    }

    .mob_menu.active {
        transition: .2s all;
        transform: translateX(0);
    }

    .mob_menu.active .menu {
        margin-bottom: 10px;
    }

    .mob_menu.active .menu,
    .mob_menu.active .socs {
        display: flex !important;
        align-items: center;
        justify-content: center;
    }

    .mob_menu.active .menu .menu_list {
        flex-direction: column;
    }

    .footer__row-wrapper ul {
        display: none;
        padding: 0;
        margin: 0;
    }

    .footer__row-title {
        display: inline-block;
        cursor: pointer;
        position: relative;
        padding-right: 20px;
        /* Отступ для стрелки */
    }

    .footer__row-title::after {
        content: "";
        /* Стрелка */
        background-image: url('/images/arrow.svg');
        width: 16px;
        height: 16px;
        position: absolute;
        right: 0;
        top: 0;
        transition: transform 0.3s ease;
    }

    .footer__row-wrapper.open .footer__row-title::after {
        transform: rotate(180deg);
        /* Поворот стрелки */
    }

    .footer__row-wrapper.open ul {
        display: block;
        /* Показываем список */
    }

    .footer_bottom {
        margin-top: 15px;
        padding-top: 15px;
        flex-direction: column;
    }

    .footer .socs {
        display: flex !important;
    }

    .footer {
        border-radius: 30px 30px 0px 0px;
    }

    .container__block-left {
        max-width: 170px;
    }

    .dot__block{
        max-width: unset;
    }

    .blog__wrapper{
        margin-bottom: 40px;
    }
    .blog__case1,
    .blog__case2{
        display: none;
    }

    .blog__case3{
        grid-template-columns: 160px 160px;
        display: grid;
    }

    .blog__wrapper{
        overflow: auto;
    }

    .blog__wrapper th,
    .blog__wrapper td{
        padding: 18px;
white-space: nowrap;
    }

    .footer {
        margin-top: -50px;
    }
}

@media(max-width: 767px) {
    .header .container {
        padding: 15px;
    }

    .footer_top {
        flex-direction: column;
    }

    .footer__row {
        gap: 15px;
        margin-bottom: 15px;
    }

    .container__block {
        flex-direction: column;
        align-items: flex-start;
    }

    .container__block-center {
        order: -1;
    }

    .banner .text {
        max-width: unset;
        margin-bottom: 20px;
    }

    .center {
        padding: 40px 0;
        border-radius: 30px;
    }

    .blog__left{
        margin-bottom: 20px;
    }

    .blog__left h3 {
        font-size: 16px;
        line-height: 100%;
    }

    .blog__wrapper-new__title{
        margin: 0;
    }

    .blog__center h3,
    .blog__wrapper-new__title h3 {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
        letter-spacing: -0.54px;
    }

    .new_title{
        display: none;
    }

    .blog__center h4 {
        font-size: 18px;
        line-height: 110%;
    }

    .blog__center p{
        margin-bottom: 15px;
    }

    .blog__conatiner{
        flex-direction: column;
    }

    .dot__block-item__center{
        display: none;
    }

    .dot__block-item{
        flex-direction: column;
    }

    .dot__block-item__right h4{
        max-width: 100%;
        min-width: unset;
    }
    .blog__center p{
        max-width: unset;
    }
    .blog__center p br{
        display: none;
    }

    .dot__block-item__right p{
        max-width: unset;
    }
}